.sound-image {
  width: 200px;
  height: 200px;
  background-image: url('/Users/danny/Projects/Twitter-Clone/react-frontend/public/sound.gif');
  background-size: cover;
  background-position: center;
  margin: 1px auto;
}
