/*-- -------------------------- -->
<---       Meet The Team        -->
<--- -------------------------- -*/
:root {
  /* Add these styles to your global stylesheet, which is used across all site pages. You only need to do this once. All elements in the library derive their variables and base styles from this central sheet, simplifying site-wide edits. For instance, if you want to modify how your h2's appear across the site, you just update it once in the global styles, and the changes apply everywhere. */
  --primary: #1da1f2;
  --primaryLight: #ffba43;
  --secondary: #ffba43;
  --secondaryLight: #ffba43;
  --headerColor: #1a1a1a;
  --bodyTextColor: #4e4b66;
  --bodyTextColorWhite: #fafbfc;
  /* 13px - 16px */
  --topperFontSize: clamp(0.8125rem, 1.6vw, 1rem);
  /* 31px - 49px */
  --headerFontSize: clamp(1.9375rem, 3.9vw, 3.0625rem);
  --bodyFontSize: 1rem;
  /* 60px - 100px top and bottom */
  --sectionPadding: clamp(3.75rem, 7.82vw, 6.25rem) 1rem;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  /* prevents padding from affecting height and width */
  box-sizing: border-box;
}

.cs-title {
  font-size: var(--headerFontSize);
  font-weight: 900;
  line-height: 1.2em;
  text-align: center; /* Center text horizontally */
  max-width: 43.75rem;
  margin: auto; /* Center text vertically */
  margin-top: 50vh; /* Adjust vertical margin to vertically center */
  transform: translateY(-50%); /* Adjust for vertical centering */
  color: var(--headerColor);
}

.cs-text {
  font-size: var(--bodyFontSize);
  line-height: 1.5em;
  text-align: inherit;
  width: 100%;
  max-width: 40.625rem;
  margin: 0;
  color: var(--bodyTextColor);
}

/* Mobile - 360px */
@media only screen and (min-width: 0rem) {
  #meet-team-1765 {
    padding: var(--sectionPadding);
    background-color: #1a1a1a;
    position: relative;
    z-index: 1;
    overflow: hidden;
  }
  #meet-team-1765 .cs-container {
    width: 100%;
    max-width: 80rem;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* 48px - 64px */
    gap: clamp(3rem, 6.5vw, 4rem);
  }

  #meet-team-1765 .cs-flex-wrapper {
    max-width: 37.5rem;
    /* lets the div's contents act as though it doesn't exist and can be children of the next surrounding parent div, in this case the cs-content. That way we can place the button under the cs-wrapper on mobile, but bring it back under the header on tablet */
    display: contents;
  }
  #meet-team-1765 .cs-title {
    margin: 0;
    /* 16px - 32px */
    margin-bottom: clamp(1rem, 3vw, 2rem);
    color: var(--bodyTextColorWhite);
  }
  #meet-team-1765 .cs-wrapper {
    max-width: 39.5rem;
  }
  #meet-team-1765 .cs-text {
    margin: 0 0 2rem 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
  }

  #meet-team-1765 .cs-text {
    max-width: 40rem;
    margin-bottom: 1.5rem;
    position: relative;
    z-index: 1;
  }

  #meet-team-1765 .cs-card-group {
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    flex-direction: column;
    grid-template-columns: repeat(12, 1fr);
    /* 16px - 20px */
    gap: 1.5rem;
    position: relative;
  }
  #meet-team-1765 .cs-item {
    list-style: none;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    grid-column: span 12;
    /* 16px - 20px */
    gap: clamp(1rem, 2vw, 1.25rem);
    position: relative;
  }
  #meet-team-1765 .cs-item:hover .cs-picture img {
    opacity: 0.4;
    transform: scale(1.2);
  }
  #meet-team-1765 .cs-item:hover .cs-link {
    opacity: 1;
    transform: translateY(0);
  }
  #meet-team-1765 .cs-item:hover .cs-link:hover {
    /* we need to add the hover styles for the cs-link inside the cs-item hover for specifcity. There's a transform none on the cs-link when we hover over the cs-item, so for the transform to work when we hover over the cs-link, we add it while the hover is active on the cs-item. This allows it to be more specific and override the transform 0 it adds to the cs-link */
    transform: scale(1.15);
    transition: transform 0.3s;
    transition-delay: 0;
  }
  #meet-team-1765 .cs-item:hover .cs-job {
    color: var(--primary);
  }
  #meet-team-1765 .cs-image-group {
    width: 100%;
    height: auto;
    margin: 0;
    position: relative;
    z-index: 1;
    aspect-ratio: 0.91691395;
    flex: 1 0 0;
  }
  #meet-team-1765 .cs-picture {
    width: 100%;
    height: 100%;
    /* removed at tablet */
    aspect-ratio: 328/260;
    background-color: #000;
    /* clips the img corners */
    /* clips img tag from overflowing it on hover */
    display: block;
    position: relative;
    overflow: hidden;
  }
  #meet-team-1765 .cs-picture img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* makes sure the top of the image is at the top of the parent, heads won't get cut off this way */
    object-position: top;
    position: absolute;
    top: 0;
    left: 0;
    transition:
      transform 0.7s,
      opacity 0.3s;
  }
  #meet-team-1765 .cs-social {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.5rem;
    position: absolute;
    top: 1rem;
    right: 1rem;
    z-index: 1;
  }
  #meet-team-1765 .cs-link {
    width: 2.5rem;
    height: 2.5rem;
    padding: 0.5rem;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transform: translateY(-1rem);
    transition:
      transform 0.6s,
      opacity 0.6s;
  }
  #meet-team-1765 .cs-link:nth-of-type(2) {
    transition-delay: 0.08s;
  }
  #meet-team-1765 .cs-link:nth-of-type(3) {
    transition-delay: 0.16s;
  }
  #meet-team-1765 .cs-icon {
    width: 1.25rem;
    height: auto;
    display: block;
  }
  #meet-team-1765 .cs-info {
    width: 100%;
    /* prevents padding and border from affecting height and width */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
    transition: background-color 0.3s;
  }
  #meet-team-1765 .cs-name {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.2em;
    text-transform: uppercase;
    margin: 0;
    color: var(--bodyTextColorWhite);
    display: block;
    transition: color 0.3s;
  }
  #meet-team-1765 .cs-job {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.2em;
    margin: 0;
    color: var(--bodyTextColorWhite);
    opacity: 0.8;
    display: block;
    transition: color 0.3s;
  }
}
/* Tablet - 768px */
@media only screen and (min-width: 48rem) {
  #meet-team-1765 .cs-container {
    max-width: 107.5rem;
    /* 48px - 64px */
    gap: clamp(3rem, 6vw, 4rem);
  }
  #meet-team-1765 .cs-content {
    text-align: left;
    max-width: 80rem;
    height: auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 3rem;
    columns: 2;
  }
  #meet-team-1765 .cs-flex-wrapper {
    width: 40vw;
    display: block;
    /* prevents flexbox from squishing it */
    flex: none;
  }
  #meet-team-1765 .cs-ul {
    margin: 0;
  }
  #meet-team-1765 .cs-card-group {
    /* 16px - 20px */
    column-gap: clamp(1rem, 2vw, 1.25rem);
    row-gap: 2.5rem;
  }
  #meet-team-1765 .cs-item {
    grid-column: span 4;
  }
  #meet-team-1765 .cs-picture {
    /* 260px - 440px */
    height: clamp(16.25rem, 33.2vw, 27.5rem);
    aspect-ratio: initial;
  }
}
/* Large Desktop - 1300px */
@media only screen and (min-width: 81.25rem) {
  #meet-team-1765 .cs-ul {
    flex-direction: row;
    flex-wrap: wrap;
  }
  #meet-team-1765 .cs-li {
    width: 48%;
  }
  #meet-team-1765 .cs-card-group {
    grid-template-columns: repeat(10, 1fr);
  }
  #meet-team-1765 .cs-item {
    grid-column: span 2;
  }
}
