.tweet-container {
  background-color: #fff;
  border: 1px solid #e1e8ed;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
}

.tweet-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-button {
  background-color: #ff4d4d;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 15px;
  cursor: pointer;
}

.delete-button:hover {
  background-color: #ff6666;
}

.user-link {
  font-size: 32px;
  color: #1da1f2;
  text-decoration: none;
  font-weight: bold;
}

.tweet-content {
  font-size: 21px;
  color: #14171a;
  margin-top: 10px;
}

.tweet-pic img {
  max-width: 100%;
  border-radius: 10px;
}

.comment-input {
  flex-grow: 1;
  border: 1px solid #ccc;
  padding: 8px 10px;
  border-radius: 20px;
  margin-right: 10px;
}

.comment-button {
  background-color: #1da1f2;
  border: none;
  color: white;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
}

.comment-button:hover {
  background-color: #1a91da;
}

.comments-section {
  border-top: 1px solid #eee;
  padding-top: 10px;
}

.tweet-date {
  font-size: 1rem;
  color: #777;
  text-align: left;
  padding: 8px 12px;
  border-top: 1px solid #eee; /* Adds a subtle line above the date if you like */
}
