.tweet-container {
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 20px;
  position: relative;
}

.tweet-container .delete-button {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: red;
  color: white;
}

.tweet-container .user-link {
  color: black;
}

.tweet-container .tweet-content {
  font-size: 30px;
}

.tweet-container .tweet-pic {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tweet-container .comment-input {
  margin-right: 10px;
  width: 100%;
}

.tweet-container .comments-section {
  margin-top: 10px;
}

.tweet-container .comment {
  margin-bottom: 5px;
}
