/* Component container */

.twitter-container {
  background-color: #f5f8fa;
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto; /* Center the container horizontally */
  max-width: 100%; /* Allow the container to take up the full width of the viewport */
  width: 575px; /* Set a maximum width to prevent it from becoming too wide */
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input field */
.twitter-input {
  width: calc(100% - 100px); /* Adjust the width according to the button size */
  padding: 10px;
  border: none;
  border-radius: 20px;
  background-color: white;
  margin-right: 10px;
  height: 70px;
}

/* Echo button */
.twitter-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #ff0000; /* Red color */
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 10px; /* Add margin to the left to separate from the input field */
}

/* Echoed text */
.twitter-text {
  margin-top: 10px;
  font-size: 16px;
  color: black;
}

/* Add this CSS to ensure comment text is visible */
.comment-context p {
  margin: 5px 0;
  word-break: break-word; /* Allow long words to break */
  white-space: pre-wrap; /* Allow line breaks */
  display: contents;
  border-radius: 5px;
}

/* CSS for uploaded picture */
.twitter-image {
  max-width: 100%; /* Ensure the image fits within its container */
  height: auto; /* Maintain aspect ratio */
  margin-top: 10px; /* Add some space above the image */
  border-radius: 8px; /* Add rounded corners to the image */
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
}

.twitter-feed-container {
  height: 600px; /* Set your desired height */
  overflow-y: auto; /* Enable scrolling when content overflows */
}

body {
  height: 100%;
  width: 100%;
  display: auto;
  position: fixed;
  overflow-y: scroll;
}

.twitter-button {
  margin: -40px 500px 15px;
}

.picture-icon {
  margin: 50px 5px;
  font-size: 35px;
}
