.login {
  width: 100%;
  height: 100vh;
  background-image: url('../Assets/background1.png');
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.login .rounded {
  border-radius: 15px;
}

.login form {
  position: absolute;
  top: 140px;
  left: calc(50% - 300.5px);
  width: 601px;
  height: 621px;
  background-color: #ffffff;
  border-radius: 12px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login h3 {
  margin-bottom: 20px;
  font-size: 64px;
  font-weight: 500;
  color: black;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.login label {
  font-size: 20px;
  color: black;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}

.login input[type='email'],
.login input[type='password'] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  font-family: 'Roboto', sans-serif;
  border: 0;
  box-sizing: border-box;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.1);
  background-color: rgba(225, 225, 225, 0.55);
  color: #727272;
  font-size: 14px;
  line-height: 19px;
  outline: none;
}

.login input[type='checkbox'] {
  margin-right: 5px;
}

.login .custom-input-label {
  font-size: 20px;
  color: black;
  font-weight: normal;
  font-family: 'Roboto', sans-serif;
}

.login .d-grid {
  margin-top: 20px;
}

.login .btn {
  width: 100%;
  height: 50px;
  margin-bottom: 10px;
  border: none;
  border-radius: 12px;
  background-color: #ff3b30;
  color: #ffffff;
  font-size: 20px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.login .text-right {
  color: #030303;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.login .text-right a {
  color: #030303;
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  margin-bottom: 20px;
  font-family: 'Roboto', sans-serif;
}

.btn-primary {
  background-color: rgba(19, 19, 19, 0.42);
  border-color: rgba(19, 19, 19, 0.42);
  color: #fff;
  transition:
    background-color 0.3s ease,
    border-color 0.3s ease,
    color 0.3s ease;
}

.btn-primary:hover {
  background-color: rgba(19, 19, 19, 0.42);
  border-color: rgba(19, 19, 19, 0.42);
}
.login-image {
  width: 100px;
  height: 100px;
  background-image: url('../Assets/giflogo.gif');
  background-size: cover;
  background-position: center;
  margin: 20px auto;
}
